@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

html {
    background-color: hsl(0, 0%, 95%);
}

.font-lexend-deca {
    font-family: 'Lexend Deca', sans-serif;
}

.font-big-shoulders {
    font-family: 'Big Shoulders Display', sans-serif;
}

@media only screen and (min-width: 600px) {
    .flex-container {
        display: flex;
    }

    .main-card {
        width: 600px;
    }

    .center-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 140px;
    }

    .title {
        text-transform: uppercase;
        font-size: 25px;
        color: hsl(0, 0%, 95%);
    }

    .description {
        font-size: 10px;
        color: hsla(0, 0%, 100%, 0.75);
        margin-top: 0;
        margin-bottom: 50px;
        line-height: 1.5;
    }

    .card-sedan {
        background-color: hsl(31, 77%, 52%);
        border-radius: 5px 0 0 5px;
    }

    .card-suv {
        background-color: hsl(184, 100%, 22%);
    }

    .card-luxury {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 5px 5px 0;
    }

    #sedan-icon {
        background-image: url(../img/icon-sedans.svg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain;
        text-indent: -99999999px;
        margin: 0;
        font-size: 25px;
    }

    #suv-icon {
        background-image: url(../img/icon-suvs.svg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain;
        text-indent: -99999999px;
        margin: 0;
        font-size: 25px;
    }

    #luxury-icon {
        background-image: url(../img/icon-luxury.svg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain;
        text-indent: -99999999px;
        margin: 0;
        font-size: 25px;
    }
    .card-button {
        border: 2px solid hsl(0, 0%, 95%);
        border-radius: 30px;
        background-color: hsl(0, 0%, 95%);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 11px;
    }

    .card-button-sedan {
        color: hsl(31, 77%, 52%);
    }

    .card-button-sedan:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsl(31, 77%, 52%);
    }

    .card-button-suv {
        color: hsl(184, 100%, 22%);
    }

    .card-button-suv:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsl(184, 100%, 22%);
    }

    .card-button-luxury {
        color: hsl(179, 100%, 13%);
    }

    .card-button-luxury:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsl(179, 100%, 13%);
    }
}

@media only screen and (max-width: 599px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-card {
        width: 90%;
    }

    .center-card {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 140px;
    }

    .title {
        text-transform: uppercase;
        font-size: 25px;
        color: hsl(0, 0%, 95%);
    }

    .description {
        font-size: 10px;
        color: hsla(0, 0%, 100%, 0.75);
        margin-top: 0;
        margin-bottom: 50px;
        line-height: 1.5;
    }

    .card-sedan {
        background-color: hsl(31, 77%, 52%);
        border-radius: 5px 5px 0 0;
    }

    .card-suv {
        background-color: hsl(184, 100%, 22%);
    }

    .card-luxury {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 5px 5px;
    }

    #sedan-icon {
        background-image: url(../img/icon-sedans.svg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain;
        text-indent: -99999999px;
        margin: 0;
        font-size: 25px;
    }

    #suv-icon {
        background-image: url(../img/icon-suvs.svg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain;
        text-indent: -99999999px;
        margin: 0;
        font-size: 25px;
    }

    #luxury-icon {
        background-image: url(../img/icon-luxury.svg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: contain;
        text-indent: -99999999px;
        margin: 0;
        font-size: 25px;
    }
    .card-button {
        border: 2px solid hsl(0, 0%, 95%);
        border-radius: 30px;
        background-color: hsl(0, 0%, 95%);
        text-decoration: none;
        padding: 8px 20px;
        font-size: 11px;
    }

    .card-button-sedan {
        color: hsl(31, 77%, 52%);
    }

    .card-button-sedan:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsl(31, 77%, 52%);
    }

    .card-button-suv {
        color: hsl(184, 100%, 22%);
    }

    .card-button-suv:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsl(184, 100%, 22%);
    }

    .card-button-luxury {
        color: hsl(179, 100%, 13%);
    }

    .card-button-luxury:hover {
        color: hsl(0, 0%, 100%);
        background-color: hsl(179, 100%, 13%);
    }
}